<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProductMapper">


	<resultMap id="productSelectMap" type="product">
		<result property="prodNo"	column="prod_no"	jdbcType="VARCHAR"/>
		<result property="prodName" column="prod_name" jdbcType="VARCHAR"/>
		<result property="prodDetail" column="prod_detail" jdbcType="VARCHAR"/>
		<result property="manuDate" column="manufacture_day" jdbcType="VARCHAR"/>
		<result property="price" column="price" jdbcType="NUMERIC"/>
		<result property="fileName" column="image_file"	jdbcType="VARCHAR"/>
		<result property="regDate" column="reg_date" jdbcType="DATE"/>
	</resultMap>
	
	<resultMap id="productSelectMap2" type="product">
		<result property="prodNo"	column="prod_no"	jdbcType="NUMERIC"/>
		<result property="prodName" column="prod_name" jdbcType="VARCHAR"/>
		<result property="prodDetail" column="prod_detail" jdbcType="VARCHAR"/>
		<result property="manuDate" column="manufacture_day" jdbcType="VARCHAR"/>
		<result property="price" column="price" jdbcType="NUMERIC"/>
		<result property="fileName" column="image_file"	jdbcType="VARCHAR"/>
		<result property="regDate" column="reg_date" jdbcType="DATE"/>
		<result property="proTranCode" column="tran_status_code" jdbcType="VARCHAR"/>
	</resultMap>
	
	
	
	
	
	<insert		 id="addProduct"			parameterType="product">
		INSERT
		INTO product( prod_no , prod_name , prod_detail , manufacture_day , price , image_file , reg_date )
		VALUES	( seq_PRODUCT_prod_no.NEXTVAL , #{prodName:VARCHAR} , #{prodDetail:VARCHAR} ,
				#{manuDate:VARCHAR} , #{price} , #{fileName:VARCHAR} , SYSDATE )
	</insert>
	
	<select id="getProduct" 		parameterType="string" 		resultMap="productSelectMap">
		SELECT
		prod_no , prod_name , prod_detail , prod_detail , manufacture_day , price , image_file , reg_date
		FROM product
		WHERE prod_no = #{value}	
	</select>
	
		
	
	<update id="updateProduct" parameterType="product">
		UPDATE product
		<set>
			prod_detail = #{prodDetail},
			manufacture_day = #{manuDate},
			price = #{price},
			image_file = #{fileName}
		</set>	
		WHERE prod_name = #{prodName}
	</update>
	

	

	<select id="getProductList" parameterType="search" resultMap="productSelectMap2">
		SELECT *
		FROM (  SELECT inner_table.* , ROWNUM AS row_seq
					FROM		(	select t.tran_status_code,p.prod_no,p.prod_name,p.prod_detail,p.manufacture_day,p.price,p.image_file,p.reg_date 
											from transaction t,product p 
											<if test="searchCondition != null">
												<trim prefix="WHERE" prefixOverrides="AND | OR">
													<if test="searchCondition == 0 and searchKeyword !='' ">
										 				p.PROD_NO = #{searchKeyword}
													</if>
													<if test="searchCondition == 1 and searchKeyword !='' ">
										 				p.PROD_NAME = #{searchKeyword}
													</if> 
													<if test="searchCondition == 2 and searchKeyword !='' ">
										 				p.PRICE = #{searchKeyword}
													</if>
													<if test="searchCondition != null ">
										 				AND t.prod_no(+)=p.prod_no
													</if> 
												</trim>
											</if>
											<if test="searchCondition == null">
												<where>
													t.prod_no(+)=p.prod_no
												</where>
											</if>
											ORDER BY p.prod_no ) inner_table
						WHERE ROWNUM &lt;= #{currentPage}*#{pageSize} )
		WHERE row_seq BETWEEN #{currentPage}*#{pageSize}-2 AND #{currentPage}*#{pageSize} 
	 </select>
	
	
	
	<select  id="getTotalCount"  parameterType="search"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT t.tran_status_code,p.prod_no,p.prod_name,p.prod_detail,p.manufacture_day,p.price,p.image_file,p.reg_date 
						from transaction t,product p
						<if test="searchCondition != null">
												<trim prefix="WHERE" prefixOverrides="AND | OR">
													<if test="searchCondition == 0 and searchKeyword !='' ">
										 				p.PROD_NO = #{searchKeyword}
													</if>
													<if test="searchCondition == 1 and searchKeyword !='' ">
										 				p.PROD_NAME = #{searchKeyword}
													</if> 
													<if test="searchCondition == 2 and searchKeyword !='' ">
										 				p.PRICE = #{searchKeyword}
													</if>
													<if test="searchCondition != null ">
										 				AND t.prod_no(+)=p.prod_no
													</if> 
												</trim>
						</if>
											<if test="searchCondition == null">
												<where>
													t.prod_no(+)=p.prod_no
												</where>
											</if>	
						 ) countTable						
	 </select>
		

</mapper>		
